.main {
    min-height: 100vh;
    padding-top: 200px;
    background: url(../../src/img/hairdresser-1098831_1920.webp) no-repeat;
    min-width: 100%;
    color: #000;

    &-wrapp {
        max-width: 400px;

        &-title {
            position: absolute;
            right: 20%;
        }

        &-subtitle {
            display: flex;
            flex-direction: row;
            align-items: center;

            h2 {
                font-size: 50px;
                margin-right: 20px;
                min-width: 210px;
            }

            img {
                height: 100px;
                padding-left: 40px;
            }
        }
    }
}